# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Django
db.sqlite3
*.mo
staticfiles/
media/

# Virtual env
venv/
env/
ENV/
.venv/

# VS Code
.vscode/
*.code-workspace

# Mac
.DS_Store

# Environment
.env
.env.*

# Render & Heroku
*.sqlite3
instance/
